body{
    background-color: thistle;
    background-color: rgb(196, 20, 152);
    display: flex;
    justify-content: center;
    align-items: center;
}
.load{
    width: 4rem;
    height: 4rem;
    border: 2px solid rgb(196, 20, 152);
    border-top: dotted #fff;
    border-left: dotted #fff;
    border-radius: 100%;
    animation: load .8s linear infinite;
}
@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}